
/* src/components/suppliers/CreateSupplier.module.css */

/* Importar estilos genéricos */
@import '../../../styles/forms.module.css';

.formRowFull {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
  margin-bottom: 1.5rem;
  width: 100%;
}

.formRowFull:last-child {
  margin-bottom: 0;
}

@media (max-width: 768px) {
  .formRowFull {
    gap: 1rem;
  }
}